---
// Component Imports
import Layout from '../layouts/MainLayout.vue';
import Home from './Home.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
				::-webkit-scrollbar {
					display: none;
				}
			}
		</style>
	</head>
	<body id='app' class="bg-gradient-to-r h-screen from-slate-100 to-slate-200 dark:from-slate-900 dark:to-slate-800 text-slate-800 dark:text-slate-100">
		<Layout />
		<Home />
	</body>
</html>
